

body {



	background-color: rgb(207,242,5);
}

.wow #wowza {


 
	 
	 margin-left:auto;
	 margin-right:auto;
	 
	 font-family: silom;
	 position: center;
	 text-align: center



}


}

.wow {

	
	
	
	 



	 
}


.wowz {

	
	 
	 border-color: black;
	 border-width: 2px;
	 border-style: solid;
	 
	 margin-left:auto;
	 margin-right:auto;
	 background-color: rgb(29,138,171);
	 font-family: silom;
	 position: center;
	 text-align: center



}

#todolist {


	list-style: none;
	color:rgb(245,114,0);
	background-color: white;
	font-size: 30px;



}



h2 {

 	text-align: center;
 	position: center;
 	font-family: silom;
 	font-size: 36px;





}


.delete {
	font-family: silom;
	font-size: 13px;
	


}



#new-text {

	 width: 500px;
	 height:40px;


	 border-color: black;
	 border-width: 2px;
	 border-style: solid;
	 font-size: 30px;
	 margin-left:auto;
	 margin-right:auto;
	 color:white;
	 background-color:rgb(245,114,0);
	 font-family: silom;
	 position: center;
	 text-align: center



}

#add {



	font-family: silom;
	font-size: 16px;
	text-align: center;
 	position: center;
 	margin-left:auto;
	margin-right:auto;
	color:black;

	 
}


